<div class="container">

  <p><b> item_id: </b> <%= @stocks.item_id %> </p>
  <p><b> quantity: </b> <%= @stocks.quantity %> </p>
  <p><b> unit_price:</b><%= @stocks.unit_price %></p>
  <p><b> est_sell_price:</b><%= @stocks.est_sell_price %></p>
</div>