
<div class="container">

  <p><b> Name: </b> <%= @customers.name%> </p>
  <p><b> Phone number: </b> <%= @customers.phn_no %> </p>
  <p><b> Address:</b><%= @customers.address %></p>
  <p><b> Email:</b><%= @customers.email %></p>
</div>