<div class="container">
  <p><b> Name: </b> <%= @item_groups.name %> </p>
  <p><b> Parent id: </b> <%= @item_groups.parent_id %> </p>
  <p><b> Description: </b> <%= @item_groups.description %> </p>
</div>