<div class="well">
    <div class="form-group ">
    </div>
    <div class="col-md-2">
      Name:
    </div>
    <div class="col-md-2">
      <%= @units.name %>
    </div>
  <div class="form-group ">
    <div class="col-md-2">
      print_name:
    </div>
    <div class="col-md-2">
      <%= @units.print_name %>
    </div>
  </div>
</div>