<div class="container">

  <p><b> Name: </b> <%= @suppliers.name%> </p>
  <p><b> Phone number: </b> <%= @suppliers.phn_no %> </p>
  <p><b> Address:</b><%= @suppliers.address %></p>
  <p><b> Email:</b><%= @suppliers.email %></p>
</div>