<div class="container">

  <p><b> Name: </b> <%= @fiscal_years.name %> </p>
  <p><b> start_date: </b> <%= @fiscal_years.start_date %> </p>
  <p><b> end_date: </b> <%= @fiscal_years.end_date %> </p>

</div>